@using Test.Domain.Entites
@model PriceListColumns

<div class="div-box">
    <button id="create" class="createPriceList" type="button" onclick="AddCollumn()">Сохранить</button>
    <h5>Название прайс-листа*</h5>
    <input class="form-control" type="text" value="Прайс-лист от" id="NamePriceList" />
    <table id="submissionTable" class="table">
        @for (int i = 2; i < Model.columns.Count; i++)
        {
            string id = "tablerow" + Model.columns[i - 2].Id;
            <tr id="@id">
                <td>Колонка @Model.columns[i-2].Id</td>
                <td><input type="text" class="text-box single-line" id="Name[@Model.columns[i-2].Id]" value="@Model.columns[i].Name" /></td>
                <td>
                    <select class="textbox" id="DataType[@Model.columns[i-2].Id]">
                        @if (@Model.columns[i].DataType == "Текст")
                        {
                            <option>Число</option>
                            <option selected>Текст</option>
                        }
                        else
                        {
                            <option selected>Число</option>
                            <option>Текст</option>
                        }

                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeTr(@Model.columns[i-2].Id);">Удалить</button>
                </td>
            </tr>
        }

    </table>
    <button id="add" class="addButton" type="button">Добавить колонку</button>
</div>


@section Scripts{
    <script>
        const today = new Date();
        const yyyy = today.getFullYear();
        let mm = today.getMonth() + 1; 
        let dd = today.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        const formattedToday = dd + '.' + mm + '.' + yyyy;

        document.getElementById("NamePriceList").value = "Прайс-лист от " + formattedToday;
        var counter = document.getElementById("submissionTable").rows.length + 1;
        $(function () {
            $('#add').click(function () {
                $('<tr id="tablerow' + counter + '"><td>' +
                    'Колонка ' + counter + '</td><td>' +
                    '<input type="text" class="text-box single-line" id="Name[' + counter + ']" value="" required="required" />' +
                    '</td>' +
                    '<td>' +
                    '<select class= "textbox" id="DataType[' + counter + ']"  value ="">' +
                    '<option>Число</option>' +
                    '<option>Текст</option>' +
                    '</select>' +
                    '</td>' +
                    '<td>' +
                    '<div><button type="button" class="btn btn-danger" onclick="removeTr(' + counter + ');">Удалить</button></div>' +
                    '</td>' +
                  '</tr>').appendTo('#submissionTable')+
                counter++;
                return false;
            });
        });
        function removeTr(index) {
            if (counter > 1) {
                $('#tablerow' + index).remove();
                counter--;
            }
            return false;
        };
        function AddCollumn() {
            var namePriceList = document.getElementById("NamePriceList").value;
            var table = document.getElementById('submissionTable');
            var names = [];
            var dataTypes = [];
            var columns = [];

            for (var i = 1; i < table.rows.length + 1; i++) {

                names[i - 1] = document.getElementById('Name[' + i + ']').value;
                var select = document.getElementById('DataType[' + i + ']');
                dataTypes[i - 1] = select.options[select.selectedIndex].text;


            }
            for (var i = 0; i < table.rows.length; i++) {
                columns.push({
                    Name: names[i],
                    DataType: dataTypes[i]
                });
            }
            var data = ({
                Name: namePriceList,
                Columns: columns
            });
            $.ajax({
                type: "post",
                url: "/Home/AddPriceList",
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    console.log(result);
                },
                error: function (req, status, error) {
                    console.log(status)
                }
            });
            setTimeout(function () {
                window.location.href = '/Home/Index'
            }, 1000);




        }

    </script>
}
